name: 'system build'
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build_darwin:
    runs-on: macos-latest
    steps:
      - uses: styfle/cancel-workflow-action@0.7.0
        with:
          access_token: ${{ github.token }}
      - uses: actions/checkout@v2
        with:
          # Shallow clones won't work
          fetch-depth: 0
      - uses: cachix/install-nix-action@v12
        with:
          install_url: https://github.com/numtide/nix-flakes-installer/releases/download/nix-2.4pre20210126_f15f0b8/install
          extra_nix_config: |
            experimental-features = nix-command flakes
      - uses: cachix/cachix-action@v8
        with:
          name: kclejeune
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: Build Randall
        run: nix build -v .#darwinConfigurations.randall.config.system.build.toplevel
        timeout-minutes: 60
  build_nixos:
    runs-on: ubuntu-latest
    steps:
      - uses: styfle/cancel-workflow-action@0.7.0
        with:
          access_token: ${{ github.token }}
      - uses: actions/checkout@v2
        with:
          # Shallow clones won't work
          fetch-depth: 0
      - uses: cachix/install-nix-action@v12
        with:
          install_url: https://github.com/numtide/nix-flakes-installer/releases/download/nix-2.4pre20210126_f15f0b8/install
          extra_nix_config: |
            experimental-features = nix-command flakes
      - uses: cachix/cachix-action@v8
        with:
          name: kclejeune
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: Build Phil
        run: nix build -v .#nixosConfigurations.phil.config.system.build.toplevel
        timeout-minutes: 60
  build_server:
    runs-on: ubuntu-latest
    steps:
      - uses: styfle/cancel-workflow-action@0.7.0
        with:
          access_token: ${{ github.token }}
      - uses: actions/checkout@v2
        with:
          # Shallow clones won't work
          fetch-depth: 0
      - uses: cachix/install-nix-action@v12
        with:
          install_url: https://github.com/numtide/nix-flakes-installer/releases/download/nix-2.4pre20210126_f15f0b8/install
          extra_nix_config: |
            experimental-features = nix-command flakes
      - uses: cachix/cachix-action@v8
        with:
          name: kclejeune
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: Build Server
        run: nix build -v .#homeManagerConfigurations.server.activationPackage
        timeout-minutes: 60
